<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ELibrary"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_dashboard"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_dashboard"
        android:supportsRtl="true"
        android:theme="@style/Theme.Elibrary"
        tools:targetApi="31">
        <activity
            android:name=".screen.readpdf.ReadPdfActivity"
            android:exported="false" />
        <activity
            android:name=".screen.detail.DetailBookActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screen.splashscreen.SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>